:root {
    --main-bg-color: #00ffbf;
    --header-bg-color: #005e3a;
    --category-bg-color: #FFFFFF;
    --text-color: #333333;
    --header-height: 60px;
    --main-font: 'Open Sans', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

.line {
    border-top: 1px solid black;
    margin: 20px 40px;
}

.video-container {
    margin-right: 100px;
    margin-left: 100px;
    padding: 2%;
    margin-top: 50px;
    margin-bottom: 100px;

    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.top div {
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
}

.video-list div {
    margin-left: 30px;
    margin-top: 0px;
    align-items: center;
    justify-content: start;
    display: flex;
    font-size: 25px;
    
}

.description div {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
}

.blog div {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
}

.blog ul {
    margin-top: 40px;
}

.title div {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    border-radius: 5px;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-right: 100px;
    margin-left: 100px;
    padding: 2%;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgb(238, 203, 5);
}

.title p {
    font-size: 24px;
    font-weight: bold;
    color: rgb(59, 59, 59);
    
}

.parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Or any other specific width */
    margin: 40px 0px;
}

.parent-container h2 {
    font-size: medium;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.header {
    background-color: var(--header-bg-color);
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    padding: 0 20px;
    height: var(--header-height);
}

/*Logo*/
.question {
    font-size: 60px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.question a {
    color: rgb(255, 255, 255); /* Ensures the link is white */
    text-decoration: none; /* Removes underline from links */
    transition: color 0.3s ease; /* Smooth color transition for hover effect */
}
.logo {
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-right: 5px;
    /*padding-top: 5px;*/
}

.logo a {
    color: rgb(255, 255, 255); /* Ensures the link is white */
    text-decoration: none; /* Removes underline from links */
    transition: color 0.3s ease; /* Smooth color transition for hover effect */
}

.logo a:hover, .logo a:focus {
    color: #ffffff; /* Changes color to nav background color on hover/focus */
    text-decoration: none; /* Ensures no underline appears on hover/focus */
}

/*Navigation Class for the header*/
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Vertically center the nav items */
}

.navigation li {
    padding: 0 15px;
    position: relative; /* Position relative for pseudo-elements */
}

.navigation a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative; /* For pseudo-element positioning */
    overflow: hidden; /* To contain pseudo-elements */
}

.navigation a:hover, .navigation a:focus {
    color: #cbc4c4; 
    text-decoration: none;
}
.categories-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.category-card {
  background: #ffffff;
  border: 3px solid transparent;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.category-card:hover {
  transform: translateY(-5px);
  background: linear-gradient(#ffffff, #ffffff) padding-box,
              linear-gradient(135deg, #adadad 0%, rgb(179, 179, 179) 100%) border-box;
  border: 3px solid transparent;
}



/*Card indicators*/

